extends ../layout.pug

block content

  h2 Dear #{user.firstName},

  p Thank you for your recent order with EzBizTrip. Unfortunately, we are unable to complete the following reservation:

  if (chargedFailedFlight)
    h4 Flight Details
    p #{flight.departureSegments[0].departure} - #{flight.departureSegments[flight.departureSegments.length - 1].arrival}
    p Departure #{flight.departureSegments[0].strDepartureDate}
    if (flight.returnSegments.length > 0)
      p Return: #{flight.returnSegments[flight.returnSegments.length - 1].strArrivalDate}
    hr

  if (chargedFailedHotel)
    h4 Hotel Details
    p #{hotel.name}
    p Check-in: #{hotel.checkInDate}
    p Check-out: #{hotel.checkOutDate}
    hr

  p
    b Refund amount: 
    span #{amountFail}

  p
    b Note: 
    i According to our policy, we will process the refund the payment you have made and return the money to your account as soon as possible. The refund are various depends on your financial institution but will take no longer than 10 business days.

  p.text-center
    a(class='btn yellow' href= appLink) Review details & book again

  p We apologized for the inconvenience caused and look forward to hearing from you.
