extends ../layout.pug

block content

  h2 Hello!
  p.
    #{employeeName} (#{employeeEmail}) has sent an expense claim for reimbursement as below: 
  h3 #{tripName}
  
  each e in expenses
    div
      hr
      p Name of expense:  #{e.name}
      p Expense category: #{e.category}
      p Transaction date: #{e.transactionDate}
      p Amount: #{e.amount}
      p Description: #{e.message}
  hr
  br

  p.text-center
    a(class='btn' href= reviewLink) Review and process