extends ../layout.pug

block content

  h2 Dear, #{employeeName}!
  p Your following expense claim was rejected:
  br
  p Date incurred: #{dateIncurred}
  p Trip: #{tripName}
  p Type: #{type}
  p Description: #{description}
  p Amount: #{amount}
  p Accountant comment: #{adminMessage}

  p.text-center
    a(class='btn' href= expenseLink) Submit again or Close this expense