extends ../layout.pug

block content

  h2.text-center
    |Hello, #{name}!
    = ' '
    span.inline-block Your trip booking is confirmed

  p.text-center
    a(class='btn yellow' href= tripLink) View trip detail
  br

  if (flightOrders.length > 0)
    header
      h3 Flight Itinerary

    div
      each order in flightOrders
        table(style={width: '100%'})
          tr 
            if (order.pnr)
              td
                br
                span(style={'font-size': '12px', color: '#707070'}) Confirmation code
                br
                span(style={color: '#f4b400', 'font-size': '22px', 'letter-spacing': '1px', display: 'inline-block', border: '1px solid #f4b400', 'border-radius': '5px', padding: '5px'})
                  |#{order.pnr}
        h4 Departure Flights
        table(style={width: '100%'})
          each segment in order.flight.departureSegments
            tr
              td(style={width: '40%', 'vertical-align': 'top'})
                |#{airports[segment.departure].airport_name}
                = ' '
                |(#{segment.departure})
                br
                |#{segment.departureTime}
              td(style={width: '20%', 'text-align': 'center'})
                <span style='font-size:25px;'>&#8594;</span>
              td(style={width: '40%', 'vertical-align': 'top'})
                |#{airports[segment.arrival].airport_name}
                = ' '
                |(#{segment.arrival})
                br
                |#{segment.arrivalTime}
            tr
              td(colspan="3")
                p(style={color: '#3ac9b6'})
                  strong #{airlines[segment.airline].name}
                  = ' / '
                  |#{segment.airline}-#{segment.flightNum}
                  = ' / '
                  |#{segment.cabinClass}
                br

        if (order.flight.returnSegments.length > 0)
          h4 Return Flights
          table(style={width: '100%'})
            each segment in order.flight.returnSegments
              tr
                td(style={width: '40%', 'vertical-align': 'top'})
                  |#{airports[segment.departure].airport_name}
                  = ' '
                  |(#{segment.departure})
                  br
                  |#{segment.departureTime}
                td(style={width: '20%', 'text-align': 'center'})
                  <span style='font-size:25px;'>&#8594;</span>
                td(style={width: '40%', 'vertical-align': 'top'})
                  |#{airports[segment.arrival].airport_name}
                  = ' '
                  |(#{segment.arrival})
                  br
                  |#{segment.arrivalTime}

              tr
                td(colspan="3")
                  p(style={color: '#3ac9b6'})
                    strong #{airlines[segment.airline].name}
                    = ' / '
                    |#{segment.airline}-#{segment.flightNum}
                    = ' / '
                    |#{segment.cabinClass}
                  br

        h4 Passengers
        ul
          each passenger in order.passengers
            li
              span.text-capitalize
                #{passenger.title}.
              = ' ' 
              |#{passenger.lastName} #{passenger.firstName} (#{passenger.businessEmail})

        h4 Contact
        table
          tr
            td Email:
            td #{order.contactInfo.email}
          tr
            td Phone:
            td #{order.contactInfo.phone}
          tr
            td Name:
            td #{order.contactInfo.lastName} #{order.contactInfo.name}

        h4
          |Total price:
          = ' '
          span(style={color:'#f4b400'}) #{order.totalPrice}

        h4
          |Payment: 
          if (order.payment.type)
            |  Deposit
          if (order.payment.brand)
            | #{order.payment.brand} **** **** **** #{order.payment.last4}
        hr
    br

  if (hotelOrders.length > 0)
    header
      h3 Hotel

    div
      each order in hotelOrders
        br
        span(style={'font-size': '12px', color: '#707070'}) Confirmation code
        br
        span(style={color: '#f4b400', 'font-size': '22px', 'letter-spacing': '1px', display: 'inline-block', border: '1px solid #f4b400', 'border-radius': '5px', padding: '5px'})
          |#{order.customerCode}

        h3 #{order.hotel.name}
        ul
          li Address: #{order.hotel.address}
          li City: #{order.hotel.cityName}, #{order.hotel.country}
          li Room: #{order.hotel.roomName}
          li Number of rooms: #{order.hotel.numberOfRoom}
          li Included: #{order.hotel.boardName}
          if (order.hotel.phones)
            li Phones: 
              each phone in order.hotel.phones
                span #{phone.phoneNumber},
          li Check-in date: #{order.hotel.checkInDate}
          li Check-out date: #{order.hotel.checkOutDate}
          li Remark: #{order.hotel.remark}

        h4 Passengers
        ul
          each passenger in order.passengers
            li
              span.text-capitalize
                #{passenger.title}.
              = ' ' 
              | #{passenger.firstName} #{passenger.lastName} (#{passenger.businessEmail})

        if (order.childrenInfo.length > 0)
          h3 Children Details
          ul
            each child in order.childrenInfo
              li #{child.firstName} #{child.lastName}. Age: #{child.age}

        h4 Contact
        table
          tr
            td Email:
            td #{order.contactInfo.email}
          tr
            td Phone:
            td #{order.contactInfo.phone}
          tr
            td Name:
            td #{order.contactInfo.lastName} #{order.contactInfo.name}

        h4
          |Total price:
          = ' '
          span(style={color:'#f4b400'}) #{order.totalPrice}

        h4 
          |Payment:
          if (order.payment.type)
            |  Deposit
          if (order.payment.brand)
            |#{order.payment.brand} **** **** **** #{order.payment.last4}
        hr
